*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 12px;
    font-size: 16px;
}

img {
    height: auto;
    max-width: 100%;
}

.sort-container{
    display: flex;
    gap: 24px;
    border: 1px solid #adadad;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

input[type="search"]{
    padding: 12px;
}

fieldset{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 1px solid #adadad;
    padding: 24px;
    justify-content: space-around;
}

.user{
    border: 1px solid #adadad;
    padding: 12px;
    max-width: 330px;
}

.user-photo{
    margin-bottom: 18px;
}

.user-name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.user-age{
    font-size: 22px;
    margin-bottom: 12px;
}